body{
  font-family: Arial, sans-serif;
  background-color: grey;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item{
  background-color: lightgrey;
  margin: 2px;
  padding: 2px;
  text-align: center;
  border-width: 2px;
}
.item > img{
  width: 200px;
}
