body{
  font-family: Arial, sans-serif;
  background-color: grey;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item{
  background-color: lightgrey;
}
.item > img{
  width: 200px;
}
